
pdf2image
chromadb
pypdf
google-generativeai
Pillow
numpy
pandas
langchain-google-genai
langchain
langchain-core
langchain-community
pydantic
streamlit
python-dotenv
ipykernel
langchain_chroma
fastapi
uvicorn
jinja2




